:root{
    --text-primary: #292524;
    --text-secondary: #57564E;
    --text-tertiary: #8f8881;
    --text-hilight: #e43a12;
    

    --surface-primary: #fff;
    --surface-secondary: #fee7d6;
    --surface-disabled: #e7e5e4;


    --stroke-default: #d6d3d1;
    --stroke-highlight: #f3541c;
    --semantic-error: #dc2626;

    --font-family: 'Poppins', sans-serif;
    --text: 400 1rem/1.5 var(--font-family);
    --text-small: 400 .875rem/1.4 var(--font-family);
}